
body{
	margin: 0px;
	padding: 0px;
	font-family: "Arial";
}
.banner{
    background-color: rgb(240, 241, 247);
	color: #111010;
	text-align: center;
}

.nav_principal {

    display: flex;
     justify-content: flex-end;
     flex-wrap: wrap;
     flex-direction: row;
     padding: 20px 30px;
     box-shadow: 0 1px 8px rgb(47, 79, 238);
     background-color: rgb(240, 241, 247);
 }
 
 .nav_principal .division {
 color: #070707;
 margin: 0px;
 width: 0px;
 padding: 1px;
 }
 
 .nav_principal ul {
     display: flex;
     justify-content: flex-end;
     flex-wrap: wrap;
     flex-direction: row;
     align-items: center;
    
 }
 .nav_principal li {
     list-style: none;
     padding: 0 15px;
     font-size: 20px;
    
 }
 
 .nav_principal a {
     text-decoration: none;
     color: #000000;
     transition: all 0.3s ease 0s;
 }
 
 .nav_principal a:hover {
     color: #b2dfdb;
 }
 


.item1{
	width: 80px;
	height: 20px;
	padding: 5px;
	margin: 5px;
	list-style: none;
	color: #070707;
	border-right: solid 2px #342539;
	line-height: 15px;
	font-size: 10px;
}
.buscador{
	width: 350px;
	border: none;
}
.buscador button{
	padding: 2px 5px;
	background-color: rgb(240, 241, 247);
  	color: rgb(0, 0, 0);
  	border: none;
  	border-radius: 5px;
  	cursor: pointer;
}
.buscador button:hover{
	background-color: #b2dfdb;
}
#nav-pestañas {
    display: flex;
     justify-content: flex-end;
     flex-wrap: wrap;
     flex-direction: row;
    width: 90%; /* Ancho del cuadro alrededor del nav */
    max-width: 1200px; /* Ancho máximo del cuadro */
    margin: auto; /* Centrar horizontalmente */
    padding: 20px 30px; /* Espaciado interno del cuadro */
    border: 2px solid #060607; /* Cambié el color del borde a azul */
    text-align: center; /* Centrar el contenido del nav */
    box-shadow: 0 1px 8px rgb(13, 13, 14);
    background-color: rgb(240, 241, 247);
}
.nav-pestañas .division {
    color: #070707;
    margin: 0px;
    width: 0px;
    padding: 1px;
    }

#nav-pestañas ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Elimina el margen predeterminado en las listas */
    
    align-items: center; /* Centra verticalmente los elementos hijos */
 display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

#nav-pestañas li {
   list-style: none;
    font-size: 20px;
    padding: 5px 10px; /* Centrar el texto dentro de cada li */
}

#nav-pestañas a {
    text-decoration: none; /* Cambié double a none *//* Cambié el color del texto a azul */
    padding: 4px 15px; /* Aumenté el espacio interno para hacerlo más visible */
    border: 2px solid #0d0d0e; /* Coincide con el color del texto */
    border-radius: 5px;/* Añadí una transición suave al color de fondo */
    color: #080808;
    transition: all 0.3s ease 0s;
}

#nav-pestañas a:hover {
    background-color: rgb(240, 241, 247); /* Cambié el color de fondo al pasar el ratón */
   /* Cambié el color del texto al pasar el ratón */
      color: #b2dfdb;
}


.titulos{
	display: flex;
	flex-wrap: wrap ; /*| wrap | wrap-reverse*/
	flex-direction: row;
	justify-content: center ;
}
.titulos1{
	width: 50%;
}
.container{
	display: flex;
	flex-wrap: wrap ; /*| wrap | wrap-reverse*/
	flex-direction: row;
	justify-content: center ;
}
.lateral{
	display: flex;
	flex-wrap: wrap ; /*| wrap | wrap-reverse*/
	flex-direction: column;
	justify-content: center ;
	width: 20%;
	background-color:  rgb(240, 241, 247);
	color: rgb(0, 0, 0)d0d;
	justify-content: center ;
}
button{
	padding: 10px 20px;
	background-color: rgb(67, 91, 230);
  	color: white;
  	border: none;
  	border-radius: 5px;
  	cursor: pointer;
}
button:hover{
	background-color:  rgb(138, 139, 143);
}
.central{
	width: 80%;
}
.subcont{
	display: flex;
	flex-wrap: wrap ; /*| wrap | wrap-reverse*/
	flex-direction: row;
	justify-content: flex-start ;
}
.subcont1{
	width: 30%;
	margin: 5px;
	padding: 5px;
}
.subcont9 {
	width: 30%;
	margin: 5px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #34495e; /* Azul oscuro */
  }
.relacionados{	width: 33%;}
.caracteristicas{	width: 67%;}
.caja{
	width: 80%;
	padding: 10px;
	margin: 10px;
	color: #fff;
	background-color:  rgb(240, 241, 247);
	border-right: solid 2px #109ce7;
}
.caja img, .subcont1 img{
	object-fit: cover;
	width:100%;
	height:100%;
}

.caja9 {
  width: 80%;
  height: 80px;
  padding: 10px;
  margin: 10px;
  color: #2c3e50; /* Azul oscuro */
  background-color: #ecf0f1; /* Blanco claro */
  text-align: center;
  line-height: 80px;
  border-radius: 10px; /* Bordes redondeados */
}
#botonClick, #botonEstilo {
	width: 100%;
	padding: 10px;
	margin: 5px;
	font-size: 16px;
	color: #ecf0f1; /* Blanco claro */
	background-color: #2c3e50; /* Azul oscuro */
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  #botonClick:hover, #botonEstilo:hover {
	background-color: #1a2533; /* Azul oscuro más oscuro al pasar el ratón */
  }
  
  /* Estilos adicionales para el reloj */
  #reloj {
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #ecf0f1; /* Blanco claro */
	text-align: center;
  }

#areaPantalla{
	font-size: 50px;
	font-family: 'consolas';
	color: #181716;;
}
#reloj{
	font-size: 35px;
	font-family: 'consolas';
	color: #0c0c0b;;
}

table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
  }
  
  table th, table td {
	padding: 8px 15px;
  }
  
  table th {
	background-color: #34495e; /* Azul oscuro */
	color: #ecf0f1; /* Blanco claro */
	font-size: 15px;
	font-weight: bold;
	border-left: 1px solid #2c3e50; /* Azul un poco más claro */
  }
  
  table th:first-child {
	border: none;
  }
  
  table td {
	color: #2c3e50; /* Azul oscuro */
	border-left: 1px solid #bdc3c7; /* Gris azulado */
	border-bottom: 1px solid #bdc3c7; /* Gris azulado */
	font-size: 12px;
	font-weight: normal;
  }
  
  table td {
	background: #ecf0f1; /* Blanco claro */
	color: #2c3e50; /* Azul oscuro */
  }
  
  table td:first-child {
	border-left: none;
  }
  
  table tr:last-child td {
	border-bottom: none;
  }
  

  .subcont3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #34495e; /* Azul oscuro */
	padding: 20px; /* Ajusta según sea necesario */
  }
  
  .caja3 {
	width: 20%; /* Ajusta según sea necesario */
	padding: 10px;
	margin: 10px;
	color: #fff;
	background-color: #2c3e50; /* Azul un poco más claro */
	text-align: center;
	border-radius: 10px;
	border: 2px solid #34495e; /* Borde azul oscuro */
  }
  
  .caja3 img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 8px; /* Bordes redondeados para las imágenes */
  }
  
  .caja3 label {
	margin-top: 10px;
	display: block;
  }
  
  .titulosCajas {
	color: #fff;
	text-align: center;
	width: 100%;
	margin-bottom: 20px; /* Espacio entre el título y las cajas */
  }
  
.titulosCajas{
	width: 100%;
	text-align: center;
}